<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.OrderMapper">
	<!--  插入订单数据 -->
	<!-- Integer insertOrder(Order order) -->
	<insert id="insertOrder">
	    INSERT INTO t_order(
	    		uid,name,
	    		phone,address,
	    		status,price,
	    		order_time,pay_time,
	    		created_user, created_time,            
	    		modified_user, modified_time
	   ) VALUES(
	   			#{uid},#{name},
	   			#{phone},#{address},
	   			#{status},#{price},
	   			#{order_time},#{pay_time},
	   			#{createdUser}, #{createdTime},          
	   			#{modifiedUser}, #{modifiedTime}
	   )
	</insert>

	<!-- 插入订单商品数据 -->
	<!-- Integer insertOrderItem(OrderItem orderItem) -->
	<insert id="insertOrderItem">
	    INSERT INTO t_order_item(
	    	oid, gid,
            title, image, 
            price, num,
            created_user, created_time,
            modified_user, modified_time
	    )VALUES(
	    	#{oid}, #{gid}, 
            #{title}, #{image}, 
            #{price}, #{num},
            #{createdUser}, #{createdTime},
            #{modifiedUser}, #{modifiedTime}
	    )
	</insert>
	
	<!-- 删除订单 -->
	<!-- Integer deleteById(Integer id); -->
	<delete id="deleteById">
	    DELETE FROM 
	    		t_order_item
	    WHERE
	    		id=#{id}
	</delete>
	
	<!-- 更改数量 -->
	<!-- Integer updateByNum(@Param("id")Integer id,@Param("num")Integer num); -->
	<update id="updateByNum">
	    UPDATE	
	    		t_order_item
	    SET 
	    		num=#{num}
	    WHERE
	    		id=#{id}
	</update>
	
	<!-- 显示商品 -->
	<!-- Order findByid(Integer id); -->
	<select id="findByid" resultType="cn.tedu.store.entity.OrderItem">
	    SELECT 
	    	oid,gid,title,
	    	image,price,num
	    FROM
	    	t_order_item
	    WHERE
	    	id=#{id}
	</select>
</mapper>








