<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.DistrictMapper">
		
		<!-- 根据parent的值查询数据  -->
		<!-- List<District> findByParent(String parent) -->
		<select id="findByParent" resultType="cn.tedu.store.entity.District">
				SELECT
						id,parent,
						code,name
				FROM
						t_dict_district
				WHERE
						parent=#{parent}
				ORDER BY
						code ASC
		</select>
		
		<!-- 根据省市区的代号查询详情 -->
		<!-- District findByCode(String code) -->
		<select id="findByCode" resultType="cn.tedu.store.entity.District">
		    SELECT 
		    			 name
		    	FROM
		    			 t_dict_district
		    	WHERE
		    	     code=#{code}
		</select>
</mapper>