<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">
		<!-- Integer insert(User user) -->
		<!-- 插入用户数据 -->
		<insert id="insert" useGeneratedKeys="true" keyProperty="uid">
				INSERT INTO  t_user(
						username,password,
						salt,avatar,phone,
						email,gender,is_delete,
						created_user,created_time,
						modified_user,modified_time
				)VALUES(
						#{username},#{password},
						#{salt},#{avatar},#{phone},
						#{email},#{gender},#{isDelete},
						#{createdUser},#{createdTime},
						#{modifiedUser},#{modifiedTime}
				)
		</insert>
		
		<!-- Integer updatePassword(@Param("uid")Integer uid,@Param("password")String password,@Param("modifiedUser")String modifiedUser,@Param("modifiedTime")String modifiedTime) -->
		<!-- 根据id修改用户密码  -->
		<update id="updatePassword" >
				UPDATE
						t_user
				SET
						password=#{password},
						modified_user=#{modifiedUser},
						modified_time=#{modifiedTime}
				WHERE
						uid=#{uid}
		</update>
		
		<!-- 修改用户个人信息  -->
		<!-- Integer updateInfo(User user); -->
		<update id="updateInfo">
				UPDATE
						t_user
				SET
						phone=#{phone},email=#{email},
						gender=#{gender},modified_user=#{modifiedUser},
						modified_time=#{modifiedTime}
				WHERE
						uid=#{uid}
		</update>
		
		<!-- 修改头像  -->
		<!-- Integer updateAvatar(@Param("uid")Integer uid,@Param("avatar")String avatar,@Param("modifiedUser")String modifiedUser,@Param("modifiedTime")Date modifiedTime ); -->
		<update id="updateAvatar">
				UPDATE
						t_user
				SET
						avatar=#{avatar},
						modified_user=#{modifiedUser},
						modified_time=#{modifiedTime}
				WHERE
						uid=#{uid}
		</update>
		
		<!-- User findByUsername(String username) -->
		<!-- 根据用户名查询用户数据 -->
		<select id="findByUsername" resultType="cn.tedu.store.entity.User">
				SELECT
						uid,
						password,salt,
						avatar,username,
						is_delete AS isDelete
				FROM
						t_user
				WHERE
						username=#{username}
		</select>
		
		<!-- 根据id查询数据  -->
		<!-- User findByUid(Integer uid)  -->
		<select id="findByUid" resultType="cn.tedu.store.entity.User">
				SELECT
						password,salt,
						is_delete AS isDelete,
						username,phone,
						email,gender,
						avatar
				FROM
						t_user
				WHERE
						uid=#{uid}
		</select>
</mapper>